In [2]:
import numpy as np
import pandas as pd

In [29]:
df = pd.read_csv('/content/test-data.csv')
# Specific column select for this Dataset and word encoding
df_selected = df.loc[:,['Name', 'Kilometers_Driven','Fuel_Type','Owner_Type','New_Price']]
df_selected

,Name,Kilometers_Driven,Fuel_Type,Owner_Type,New_Price
0,Maruti Alto K10 LXI CNG,40929,CNG,First,NaN
1,Maruti Alto 800 2016-2019 LXI,54493,Petrol,Second,NaN
2,Toyota Innova Crysta Touring Sport 2.4 MT,34000,Diesel,First,25.27 Lakh
3,Toyota Etios Liva GD,139000,Diesel,First,NaN
4,Hyundai i20 Magna,29000,Petrol,First,NaN
...,...,...,...,...,...
1229,Volkswagen Vento Diesel Trendline,89411,Diesel,First,NaN
1230,Volkswagen Polo GT TSI,59000,Petrol,First,NaN
1231,Nissan Micra Diesel XV,28000,Diesel,First,NaN
1232,Volkswagen Polo GT TSI,52262,Petrol,Third,NaN
1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,72443,Diesel,First,NaN

In [30]:
df_selected.shape

(1234, 5)

In [31]:
df_selected['Name'].value_counts()

Name
Maruti Alto LXi                     9
Honda City 1.5 V MT                 8
Volkswagen Polo 1.2 MPI Highline    8
Maruti Swift Dzire VDI              8
Maruti Alto 800 2016-2019 LXI       7
                                   ..
Honda Brio VX AT                    1
Renault KWID Climber 1.0 AMT        1
Mahindra Bolero VLX CRDe            1
Hyundai Creta 1.6 SX Diesel         1
Maruti Swift VDI BSIV W ABS         1
Name: count, Length: 768, dtype: int64

In [33]:
df_selected['Name'].nunique()

768

# **OneHotEncoding Using Pandas**

In [34]:
pd.get_dummies(df_selected,columns = ['Fuel_Type','Owner_Type'])

,Name,Kilometers_Driven,New_Price,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Owner_Type_First,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,Maruti Alto K10 LXI CNG,40929,NaN,True,False,False,False,True,False,False,False
1,Maruti Alto 800 2016-2019 LXI,54493,NaN,False,False,False,True,False,False,True,False
2,Toyota Innova Crysta Touring Sport 2.4 MT,34000,25.27 Lakh,False,True,False,False,True,False,False,False
3,Toyota Etios Liva GD,139000,NaN,False,True,False,False,True,False,False,False
4,Hyundai i20 Magna,29000,NaN,False,False,False,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1229,Volkswagen Vento Diesel Trendline,89411,NaN,False,True,False,False,True,False,False,False
1230,Volkswagen Polo GT TSI,59000,NaN,False,False,False,True,True,False,False,False
1231,Nissan Micra Diesel XV,28000,NaN,False,True,False,False,True,False,False,False
1232,Volkswagen Polo GT TSI,52262,NaN,False,False,False,True,False,False,False,True
1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,72443,NaN,False,True,False,False,True,False,False,False

#**K-1 OneHotEncoding**

In [35]:
df_encoded = pd.get_dummies(df_selected, columns=['Fuel_Type', 'Owner_Type'], drop_first=True)
df_encoded

,Name,Kilometers_Driven,New_Price,Fuel_Type_Diesel,Fuel_Type_LPG,Fuel_Type_Petrol,Owner_Type_Fourth & Above,Owner_Type_Second,Owner_Type_Third
0,Maruti Alto K10 LXI CNG,40929,NaN,False,False,False,False,False,False
1,Maruti Alto 800 2016-2019 LXI,54493,NaN,False,False,True,False,True,False
2,Toyota Innova Crysta Touring Sport 2.4 MT,34000,25.27 Lakh,True,False,False,False,False,False
3,Toyota Etios Liva GD,139000,NaN,True,False,False,False,False,False
4,Hyundai i20 Magna,29000,NaN,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...
1229,Volkswagen Vento Diesel Trendline,89411,NaN,True,False,False,False,False,False
1230,Volkswagen Polo GT TSI,59000,NaN,False,False,True,False,False,False
1231,Nissan Micra Diesel XV,28000,NaN,True,False,False,False,False,False
1232,Volkswagen Polo GT TSI,52262,NaN,False,False,True,False,False,True
1233,Mercedes-Benz E-Class 2009-2013 E 220 CDI Avan...,72443,NaN,True,False,False,False,False,False

# **OneHotEncoding Using SKlearn**

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_selected.iloc[:,0:4], df_selected.iloc[:,-1], test_size=0.2, random_state=42)
X_train.head()

                              Name  Kilometers_Driven Fuel_Type Owner_Type
869    Audi A4 35 TDI Premium Plus              60249    Diesel      First
728              Renault Pulse RxZ              57000    Diesel     Second
803  Hyundai Grand i10 Asta Option              25000    Petrol      First
644      Audi A3 35 TDI Attraction              84004    Diesel      First
813   BMW 7 Series 2007-2012 730Ld              51000    Diesel      First

In [22]:
X_test.head()

     Unnamed: 0                                 Name    Location  Year
753         753                  Chevrolet Cruze LTZ  Coimbatore  2014
582         582            Hyundai Verna VTVT 1.6 SX       Delhi  2014
548         548  Audi Q3 35 TDI Quattro Premium Plus      Jaipur  2015
113         113     Volkswagen Polo 1.2 MPI Highline  Coimbatore  2015
174         174      Skoda Laura 1.9 TDI MT Elegance        Pune  2007

In [47]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop ='first',sparse_output=False,dtype=np.int32)
X_train_new = ohe.fit_transform(X_train[['Fuel_Type','Owner_Type']])
X_test_new = ohe.transform(X_test[['Fuel_Type','Owner_Type']])

X_train_new

array([[1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0],
       ...,
       [1, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0, 0]], dtype=int32)

In [48]:
X_test_new

array([[1, 0, 0, 0, 1, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       ...,
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0]], dtype=int32)

In [51]:
np.hstack((X_train[['Name','Kilometers_Driven']].values,X_train_new))

array([['Audi A4 35 TDI Premium Plus', 60249, 1, ..., 0, 0, 0],
       ['Renault Pulse RxZ', 57000, 1, ..., 0, 1, 0],
       ['Hyundai Grand i10 Asta Option', 25000, 0, ..., 0, 0, 0],
       ...,
       ['Hyundai Elantra CRDi', 183513, 1, ..., 0, 1, 0],
       ['Honda Brio S MT', 38428, 0, ..., 0, 1, 0],
       ['Toyota Etios Liva G', 37212, 0, ..., 0, 0, 0]], dtype=object)

In [52]:
np.hstack((X_train[['Name','Kilometers_Driven']].values,X_train_new)).shape

(987, 8)

# **OneHotEncoding with Top Categories**

In [59]:
counts = df['Name'].value_counts()

In [58]:
df['Name'].nunique()

768

In [62]:
from itertools import count
threesold = 2
repl = counts[counts <= threesold].index
pd.get_dummies(df['Name'].replace(repl,'uncommon')).sample(5)

,Audi A4 2.0 TDI,Audi A6 2011-2015 2.0 TDI,Audi A6 2011-2015 2.0 TDI Premium Plus,BMW 3 Series 320d,BMW 5 Series 2013-2017 520d Luxury Line,BMW 5 Series 2013-2017 530d M Sport,BMW X1 sDrive20d,Chevrolet Beat Diesel LS,Chevrolet Beat LT,Chevrolet Cruze LTZ,...,Toyota Innova 2.5 G4 Diesel 7-seater,Toyota Innova 2.5 V Diesel 8-seater,Volkswagen Polo 1.2 MPI Highline,Volkswagen Polo Diesel Highline 1.2L,Volkswagen Polo GT TSI,Volkswagen Polo Petrol Highline 1.2L,Volkswagen Vento 1.5 TDI Highline,Volkswagen Vento Diesel Highline,Volkswagen Vento Petrol Highline,uncommon
603,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
494,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
205,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
404,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
65,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True